PORT=8794
HOST=0.0.0.0
PUBLIC_API_BASE_URL=http://127.0.0.1:8794
CHARACHAT_DATA_DIR=.charachat-data
CHARAHOME_ENVIRONMENT=staging
CHARAHOME_API_BASE_URL=
CHARAHOME_AUTH_TOKEN=
CHARAHOME_INTERNAL_API_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
CHARADESK_RUNTIME_BASE_URL=
CHARADESK_SIBLING_SHARED_SECRET=
